version: "2"
services: 
  db:
    image: peterpisut/todo-db
    build: 
      context: ./todo-db
    volumes: 
      - db_data:/todo-data
    command: /entrypoint.sh
    networks: 
      backend:
        aliases: 
          - todo-db
  app:
    image: peterpisut/todo-app
    build: 
      context: ./todo-app
    ports: 
      - 3000:3000
    depends_on: 
      - api
    networks: 
      frontend:
        aliases: 
          - todo-app
  api:
    image: peterpisut/todo-api
    build: 
      context: ./todo-api
    ports: 
      - 9000:9000
    depends_on: 
      - db
    networks: 
      backend: {}
      frontend:
        aliases: 
          - todo-api

networks:
  backend: {}
  frontend: {}
volumes: 
  db_data: {}