version: "2"
services:
  db:
    image: devops-cicd101-docker.artifactory.kasikornbank.com:8443/kn000131/todo-appz/db
    build:
      context: ./todo-db
    volumes: 
      - db_data:/todo-data
    command: /entrypoint.sh
    networks: 
      backend:
        aliases: 
          - todo-db
  app:
    image: devops-cicd101-docker.artifactory.kasikornbank.com:8443/kn000131/todo-appz/react
    build: 
      context: ./todo-app
    ports: 
      - 3000:3000
    depends_on: 
      - api
    networks:
      frontend:
        aliases: 
          - todo-app
  api:
    image: devops-cicd101-docker.artifactory.kasikornbank.com:8443/kn000131/todo-appz/api
    build:
      context: ./todo-api
    ports: 
      - 9000:9000
    depends_on: 
      - db
    networks:
      backend: {}
      frontend:
        aliases: 
        - todo-api 

networks: 
  frontend: {}
  backend: {}
volumes: 
  db_data: {}