apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment-config.yaml
  - routes.yaml
  - services.yaml

namespace: devops-intern

commonLabels:
  #kscm: devops--ocp-kustomize-examples
  cluster: ocp-test
  app: todo-app-appz
  group: todo-appz
  template-compiler: kustomize

crds:
- ./crds/openshift-deploymentconfig.json
- ./crds/openshift-route.json

configurations:
- varconfig.yaml

vars:
- name: NAMESPACE
  objref:
    apiVersion: apps.openshift.io/v1
    kind: DeploymentConfig
    name: todo-app-appz
  fieldref:
    fieldpath: metadata.namespace
- name: LABEL_CLUSTER
  objref:
    apiVersion: apps.openshift.io/v1
    kind: DeploymentConfig
    name: todo-app-appz
  fieldref:
    fieldpath: metadata.labels.cluster
