apiVersion: v1
kind: Service
metadata:
  name: todo-app-kn000131
  annotations:
    cloud.google.com/load-balancer-type: "Internal"
spec:
  type: LoadBalancer
  selector:
    app: todo-app-kn000131
  ports:
  - port: 3000
    targetPort: 3000
    name: http